body {
    background: #999;
    font-family: Arial;
    color: rgb(63, 63, 63);
    
}

a {
    color: rgb(0, 136, 11);
}

p{
    background: silver;
    color: darkslategray;
    padding: 10px 5px;
    width: 600px;
}

.secondary {
    background: none;
    width: 800px;
    cursor:grab;
}

